.cell {
  width: 64px;
  height: 64px;
  margin: 4px;
  border-radius: 4px;
}

.tiles {
  margin: 4px;
}

@media (min-width: 512px) {
  .cell {
    width: 100px;
    height: 100px;
    margin: 8px;
  }

  .tiles {
    margin: 8px;
  }
}
