.tile {
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 64px;
  transition-property: left, top, transform;
  transition-duration: 200ms, 200ms, 100ms;
}

@media (min-width: 512px) {
  .tile {
    width: 100px;
    height: 100px;
    font-size: 48px;
    line-height: 100px;
  }
}

.tile-md {
  font-size: 26px;
}

.tile-lg {
  font-size: 22px;
}

@media (min-width: 512px) {
  .tile-md {
    font-size: 44px;
  }

  .tile-lg {
    font-size: 32px;
  }
}
